// Fonts
$poppins: 'Poppins', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Colors
$violet: #674BAF; // hsl(257, 40%, 49%)
$soft-magenta: #E882E8; // hsl(300, 69%, 71%)

// Reset
* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: url(../images/bg-mobile.svg) no-repeat top center/contain;
    background-color: $violet;
    font-family: $open-sans;
}

// Main

header img {
    width: 8em;
    margin: 2em 0 0 2em;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2em;

    .intro-img {
        margin-bottom: 2.5em;
    }

    img {
        width: 100%;
    }
}

.intro-text {
    text-align: center;

    h1 {
        font-family: $poppins;
        font-size: 1.6em;
        font-weight: 600;
        margin-bottom: .5em;
    }

    a {
        display: inline-block;
        width: 60%;
        color: $violet;
        background-color: white;
        padding: 10px 50px;
        border-radius: 25px;
        box-shadow: 0px 0px 6px #131313;
        margin: 3em auto;

        &:hover {
            background-color: $soft-magenta;
            color: white;
        }
    }
}

.social {
    margin: 1em;
	display: flex;
	justify-content: center;
	gap: 1em;
	margin-bottom: 2em;

    .bi {
        padding: 8px 11px;
    	border: 2px solid white;
    	border-radius: 25px;

        &:hover {
            color: $soft-magenta;
            border-color: $soft-magenta;
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: $soft-magenta;
    }
}

// Responsiveness

@media (min-width: 900px) {

    body {
        min-height: 100vh;
        background: url(../images/bg-desktop.svg) no-repeat top center/contain;
        background-color: $violet;
        font-family: $open-sans;
    }

    header img {
        width: 14em;
        margin: 3em 0 0 3em;
    }

    main {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
        margin: 3em;

        .intro-img {
            margin-bottom: 0;
        }
    }

    .intro-text {
        text-align: left;
        width: 40%;

        h1 {
            font-size: 2.3em;
        }

        a {
            width: auto;
        }
    }

    .social {
        justify-content: flex-end;
        position: relative;
        right: 3em;
    }
}